<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link href="{% static 'holidaysplanner/fullcalendar.css' %}" rel="stylesheet"/>
    <link href="{% static 'holidaysplanner/fullcalendar.print.css' %}" rel="stylesheet" media="print"/>
    <script src="{% static 'holidaysplanner/jquery.min.js'%}"></script>
    <script src="{% static 'holidaysplanner/jquery-ui.custom.min.js'%}"></script>
    <script src="{% static 'holidaysplanner/fullcalendar.min.js' %}"></script>
    <script>
    // ref: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    //TODO: you can semplify this script using jQuery cookie plugin
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

	$(document).ready(function() {
	    /* initialize the external events
		-----------------------------------------------------------------*/

	    $.getJSON( "/projects/list", function( data ) {
          var items = [];
          $.each( data, function( key, val ) {
            var item = $("<div class='external-event' id='" + val.code + "'>" + val.name + "</div>");
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
            var eventObject = {				
				id: val.code, // use the element's code as the event id
				title: val.name // use the element's text as the event title
			};
			// store the Event Object in the DOM element so we can get to it later
			item.data('eventObject', eventObject);
			// make the event draggable using jQuery UI
			item.draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			items.push(item);
          });
          $('#external-events').append( items );
        });


		/* initialize the calendar
		-----------------------------------------------------------------*/

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date, allDay) { // this function is called when something is dropped
                 alert("drop" + date);
                 $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    dataType: "json",
                    url: '/timesheet/insert/',
                    data: '{ "project": "1", "hours": "8", "user":"user", "reg_date":"2013-12-12", "timesheet": "1" }',
                });
				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');

				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);

				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;

				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}
			},
			editable: true,
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {

                alert(
                    event.title + " was moved " +
                    dayDelta + " days and " +
                    minuteDelta + " minutes."
                );

                if (allDay) {
                    alert("Event is now all-day");
                }else{
                    alert("Event has a time-of-day");
                }

                if (!confirm("Are you sure about this change?")) {
                    revertFunc();
                }

            },

            eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

                alert(
                    "The end date of " + event.title + "has been moved " +
                    dayDelta + " days and " +
                    minuteDelta + " minutes."
                );

                if (!confirm("is this okay?")) {
                    revertFunc();
                }

            },
		});


	});


    </script>
    <style>

        body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #wrap {
        width: 1100px;
        margin: 0 auto;
        }

        #external-events {
        float: left;
        width: 150px;
        padding: 0 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
        }

        #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
        }

        .external-event { /* try to mimick the look of a real event */
        margin: 10px 0;
        padding: 2px 4px;
        background: #3366CC;
        color: #fff;
        font-size: .85em;
        cursor: pointer;
        }

        #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
        }

        #external-events p input {
        margin: 0;
        vertical-align: middle;
        }

        #calendar {
        float: right;
        width: 900px;
        }

    </style>
</head>
<body>
<div id='wrap'>

    <div id='external-events'>
        <h4>Draggable Events</h4>        
    </div>

    <div id='calendar'></div>

    <div style='clear:both'></div>
</div>
</body>
</html>
