{% extends "base_private.html" %}

{% block content %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript" src="http://keith-wood.name/js/jquery.datepick-it.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js"></script>
        <script type="text/javascript">
            //<![CDATA[
                $(window).load(function(){
                    $(".calendar").datepicker({
                        showWeek: true,
                        firstDay: 1,
                        onSelect: function(dateText, inst) {
                            var url_mask = "{% url 'timesheet:load' year=12345 week_number=54321%}";
                            var date = $(this).datepicker('getDate'),
                                year =  date.getFullYear();
                            url_mask = url_mask.replace(/12345/, year);
                            url_mask = url_mask.replace(/54321/, $.datepicker.iso8601Week(new Date(dateText)));
                            window.location = url_mask
                        }
                    });
                    //Timesheet list
                    {% if timesheet_list %}
                        {% for timesheet in timesheet_list %}
                            var url_mask = "{% url 'timesheet:load' year=12345 week_number=54321%}";
                            url_mask = url_mask.replace(/12345/, {{ timesheet.year }});
                            url_mask = url_mask.replace(/54321/, {{ timesheet.week_number }});
                            $("#timesheet ul").append('<li><a href="' + url_mask + '"><span class="tab">Week number {{ timesheet.week_number }} Year {{ timesheet.year }}</span></a></li>');
                        {% endfor %}
                    {% else %}
                        $("#timesheet ul").append('<li>No timesheet are available.</li>');
                    {% endif %}
                });
            //]]>
        </script>
        <div id="timesheet">
          <ul class="tabs">
          </ul>
        </div>
        new timesheet <input type="text" class="calendar">
{% endblock %}