<!DOCTYPE html>
{% load staticfiles %}
<html lang="it" xml:lang="it">
    <head>
        <link rel="stylesheet" href="{% static 'timesheet/style.css' %}" />
        <script type="text/javascript" src="{% static 'jquery-1.10.2.js' %}"></script>
        <script type='text/javascript' src="{% static 'jquery-ui.js' %}"></script>
        <title>{% block title %}Timesheet{% endblock %}</title>
    </head>

    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/timesheet/list">Timesheet home</a></li>
                <li><a href="/holidaysplanner">Holidaysplanner home</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
