<!DOCTYPE html>
<html lang="it" xml:lang="it">
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}Timesheet{% endblock %}</title>
    </head>

    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/timesheet">Home</a></li>
                <li><a href="/timesheet/list">Timesheet home</a></li>
                <li><a href="/timesheet/logout">Logout</a></li>
            </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
